//base colors
@light-gray: #bdbfc2;
@nomar-gray: #95989d; //comment
@dark-gray: #2c2e30;

// These colors are specific to the theme. Do not use in a package!


@my_color_1: #D8636E;
@my_color_2: #e0c985;
@my_color_3: #61AFEF;
@my_col_3_2: #528bff;
@my_color_4: #71da8b;
@my_color_5: #f1b374;
@my_color_6: #AE81FF;
@my_color_7: #7bb7b7;
@my_color_8: #da71a6;
@my_color_9: #e467c5;

//base
@syntax-fg: @light-gray;
@syntax-bg: @dark-gray;
@syntax-cr: @my_color_9;
@syntax-gutter: darken(@syntax-fg, 26%);

@syntax-guide:  fade(@syntax-fg, 15%);
